<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mail Delivery Robot - Create Delivery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="/static/images/create2.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="top-menu">
        <div class="spacer three-btn">
            <p th:if="${username != null}" >Logged in as <span th:text="${username}"></span></p>
        </div>
        <div class="button-container">
            <a th:if="${username == null}" href="/login"><button>Login</button></a>
            <a href="/registerUser"><button>Register</button></a>
            <button th:if="${username != null}" id="logout-btn">Log Out</button>
            <a href="/"><button>Home</button></a>
        </div>
    </div>
    <div class="container">
        <h1>Carleton Mail Delivery Robot</h1>
        <div class = "login-box">
            <form th:action="@{/api/v1/createDelivery}" th:if="${username != null}">
                <h2>Launch a Delivery</h2>
                <div class="building-container">
                    <div class="label-select">
                        <label for="source">Source: </label>
                <select name="source" id="source">
                    <option value="Loeb">Loeb Building</option>
                    <option value="Southam">Southam Hall</option>
                    <option value="TunnelJunction">Tunnel Junction</option>
                    <option value="Library">MacOdrum Library</option>
                    <option value="Azrieli/Tory">Azrieli Theatre/Tory Building</option>
                    <option value="UC">Nideyinan Building</option>
                    <option value="Steacie">Steacie Building</option>
                    <option value="Richcraft">Richcraft Hall</option>
                    <option value="Canal">Canal Building</option>
                    <option value="Nicol">Nicol Building</option>
                    <option value="CTTC">CTTC</option>
                    <option value="Robertson">Pigiarvik Building</option>
                    <option value="Mackenzie/Minto">Minto/Mackenzie Building</option>
                    <option value="Frontenac">Prescott/Lanark/Renfrew/Frontenac House</option>
                    <option value="ResComms">Residence Commons</option>
                </select>
                    </div>
                <div class="label-select">
                    <label for="destination">Destination: </label>
                <select name="destination" id="destination">
                    <option value="Loeb">Loeb Building</option>
                    <option value="Southam">Southam Hall</option>
                    <option value="TunnelJunction">Tunnel Junction</option>
                    <option value="Library">MacOdrum Library</option>
                    <option value="Azrieli/Tory">Azrieli Theatre/Tory Building</option>
                    <option value="UC">Nideyinan Building</option>
                    <option value="Steacie">Steacie Building</option>
                    <option value="Richcraft">Richcraft Hall</option>
                    <option value="Canal">Canal Building</option>
                    <option value="Nicol">Nicol Building</option>
                    <option value="CTTC">CTTC</option>
                    <option value="Robertson">Pigiarvik Building</option>
                    <option value="Mackenzie/Minto">Minto/Mackenzie Building</option>
                    <option value="Frontenac">Prescott/Lanark/Renfrew/Frontenac House</option>
                    <option value="ResComms">Residence Commons</option>
                </select>
                </div>
                </div>
                <button type="submit" id="createDelivery-submit"  class="btn">Submit</button>
            </form>
        </div>
    </div>
    
    <script src="/static/scripts/common.js"></script>
    <script src="/static/scripts/logoutFunc.js"></script>
    <script src="/static/scripts/createDelivery.js"></script>
    </body>
</html>