<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mail Delivery Robot | Create Delivery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="/static/images/create2.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.js"></script>
</head>
<body>
    <a th:if="${username == null}" href="/login"><button>Login</button></a>
    <p th:if="${username != null}" >Logged in as <span th:text="${username}"></span></p>
    <a href="/register"><button>Register</button></a>
    <button th:if="${username != null}" id="logout-btn">Log Out</button>
    <form th:action="@{/api/v1/createDelivery}" th:if="${username != null}">
        <h2>Launch a Delivery</h2>
        <label for="source">Source: </label>
        <select name="source" id="source">
            <option value="loeb">Loeb Building</option>
            <option value="southam">Southam Hall</option>
            <option value="library">MacOdrum Library</option>
            <option value="azrieli">Azrieli Theatre</option>
            <option value="uc">Nideyinan Building</option>
            <option value="steacie">Steacie Building</option>
            <option value="richcraft">Richcraft Hall</option>
            <option value="canal">Canal Building</option>
            <option value="nicol">Nicol Building</option>
            <option value="cttc">CTTC</option>
            <option value="robertson">Pigiarvik Building</option>
            <option value="minto">Minto/Mackenzie Building</option>
            <option value="prescott">Prescott/Lanark/Renfrew/Frontenac House</option>
            <option value="residence commons">Residence Commons</option>
        </select>
        <br><br>
        <label for="destination">Destination: </label>
        <select name="destination" id="destination">
            <option value="loeb">Loeb Building</option>
            <option value="southam">Southam Hall</option>
            <option value="library">MacOdrum Library</option>
            <option value="azrieli">Azrieli Theatre</option>
            <option value="uc">Nideyinan Building</option>
            <option value="steacie">Steacie Building</option>
            <option value="richcraft">Richcraft Hall</option>
            <option value="canal">Canal Building</option>
            <option value="nicol">Nicol Building</option>
            <option value="cttc">CTTC</option>
            <option value="robertson">Pigiarvik Building</option>
            <option value="minto">Minto/Mackenzie Building</option>
            <option value="prescott">Prescott/Lanark/Renfrew/Frontenac House</option>
            <option value="residence commons">Residence Commons</option>
        </select>
        <br><br>
        <button type="submit" id="createDelivery-submit"  class="btn">Submit</button>
    </form>
    <script src="/static/scripts/common.js"></script>
    <script src="/static/scripts/logoutFunc.js"></script>
    <script src="/static/scripts/createDelivery.js"></script>
    </body>
</html>