<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mail Delivery Robot - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/images/create2.png">
</head>
<body>
<a th:if="${username == null}" href="/login"><button>Login</button></a>
<p th:if="${username != null}" >Logged in as <span th:text="${username}"></span></p>
<a href="/register"><button>Register</button></a>
<button th:if="${username != null}" id="logout-btn">Log Out</button>

<h1>Carleton Mail Delivery Robot</h1>
<p>2023-2024 Academic Year, SYSC 4907</p>
<p>Max Curkovic, Cassidy Pacada, Matt Reid, Bardia Parmoun</p>
<img src="/static/images/robot.png" alt="robot">
<br>
<br>

<div th:if="${username == null}">
    <p>Log into an account to access the website features!</p>
    <p><strong>Disclaimer: This website can only be accessed by Carleton University students.</strong></p>
</div>

<div th:if="${username != null}">
    <p>You can define a robot, and create a delivery for the robot to go on!</p>
    <a href="/registerRobot"><button>Register Robot</button></a>
    <a href="/createDelivery"><button>Create Delivery</button></a>
    <a th:if="${currentUser != null && currentUser.getCurrentDelivery() != null}" th:href="'/status/' + ${currentUser.getCurrentDelivery().getDeliveryId()}"><button>View Current Delivery</button></a>
    <br>
    <br>
    <table>
        <thead>
        <tr>
            <th>Robot Name</th>
            <th>Robot Page</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="robot : ${robots}">
            <td><span th:text="${robot.getName()}"></span></td>
            <td><a th:href="'/robot/' + ${robot.getName()}" ><button>View Robot Page</button></a></td>
        </tr>
        </tbody>
    </table>
</div>


<script src="/static/scripts/common.js"></script>
<script src="/static/scripts/logoutFunc.js" type="application/javascript"></script>
<script src="/static/scripts/robotInfo.js" type="application/javascript"></script>
</body>
</html>
