<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mail Delivery Robot - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/images/create2.png">
    <link rel="stylesheet" href="/static/css/index.css">
    <!-- <link rel="stylesheet" href="/src/main/resources/static/static/css/index.css"> -->
</head>
<body>
<div class="top-menu">
    <div class="spacer">
        <p th:if="${username != null}">Logged in as <span th:text="${username}"></span></p>
    </div>
    <div class="button-container">
        <a th:if="${username == null}" href="/login"><button class="menu-button">Login</button></a>
        <a href="/registerUser"><button class="menu-button">Register</button></a>
        <button th:if="${username != null}" id="logout-btn" class="menu-button">Log Out</button>
    </div>
</div>


<div class="main">
    <div class="container">
        <h1>Carleton Mail Delivery Robot</h1>
        <p>2023-2024 Academic Year, SYSC 4907</p>
        <p>Max Curkovic, Cassidy Pacada, Matt Reid, Bardia Parmoun</p>
        <div th:if="${username == null}" class="container">
            <p>Log into an account to access the website features!</p>
            <p><strong>Disclaimer: This website can only be accessed by users logged in from Carleton University.</strong></p>
        </div>
        <div th:if="${username != null}" class="container">
            <p>You can create a delivery here. Once you create a delivery, you will be able to view the delivery status.</p>
            <p th:if="${currentUser != null && currentUser.getType().getType() == 'Superuser'}"><strong>You are logged in as an admin.</strong></p>
            <div class="delivery-buttons">
                <a href="/createDelivery"><button>Create Delivery</button></a>
                <a th:if="${currentUser != null && currentUser.getCurrentDelivery() != null}" th:href="'/status/' + ${currentUser.getCurrentDelivery().getDeliveryId()}"><button>View Current Delivery</button></a>
                <a th:if="${currentUser != null && currentUser.getType().getType() == 'Superuser'}" href="/admin"><button>View Admin Page</button></a>
            </div>
        </div>
    </div>
        <div class="image-home">
            <input type="checkbox" />
        </div>
    </div>
</div>
    <br>
</div>

<script src="/static/scripts/common.js"></script>
<script src="/static/scripts/logoutFunc.js" type="application/javascript"></script>
<script src="/static/scripts/robotInfo.js" type="application/javascript"></script>
</body>
</html>
