<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mail Delivery Robot | Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="/images/create2.png">
</head>
<body>
<a href="/login">Login</a>
<a href="/register">Register</a>
<h1>Carleton Mail Delivery Robot</h1>
<div class="container">
    <h2>Status of Delivery</h2>
    <label for="logs"></label>
    <textarea id="logs" name="logs" rows="40" cols="100"></textarea>
</div>
</body>
</html>