<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mail Delivery Robot - Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="/images/create2.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="top-menu">
        <div class="spacer">
            <p th:if="${username != null}" >Logged in as <span th:text="${username}"></span></p>
        </div>
        <div class="button-container">
            <a th:if="${username == null}" href="/login"><button>Login</button></a>
            <a href="/registerUser"><button>Register</button></a>
            <button th:if="${username != null}" id="logout-btn">Log Out</button>
            <a href="/"><button>Home</button></a>
        </div>
    </div>
<div class="container">
    <h1>Carleton Mail Delivery Robot</h1>
    <div class="logout-box">
        <h2>Status of Delivery</h2>
        <label for="logs"></label>
        <textarea id="logs" name="logs" rows="40" cols="100" contenteditable="false"></textarea>
    </div>
</div>
<script src="/static/scripts/common.js" type="application/javascript"></script>
<script src="/static/scripts/logoutFunc.js"></script>
<script src="/static/scripts/updateStatus.js"></script>
</body>
</html>