<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mail Delivery Robot | Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="/images/create2.png">
<body>
<a href="/register">Register</a>
<a href="/">Home</a>
<div>
    <h1>Carleton Mail Delivery Robot</h1>
    <h2>Login</h2>
    <form class="login-register-form md-box-shadow" id="registerUser-form" th:action="@{/api/v1/loginUser}" method="post">
        <p>Username:</p>
        <input type="text" id="username" />
        <p>Password:</p>
        <input type="password" id="password"/>
        <p id="error-message"></p>
        <button type="submit" id="loginUser-submit" class="btn">Login</button>
    </form>
</div>
</body>
</html>