<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mail Delivery Robot | Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="/static/images/create2.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.js"></script>
<body>
<a href="/register">Register</a>
<a href="/">Home</a>
<div>
    <h1>Carleton Mail Delivery Robot</h1>
    <h2>Login</h2>
    <form id="loginUser-form" th:action="@{/api/v1/loginUser}" method="post">
        <p>Username:</p>
        <input type="text" id="username" />
        <p>Password:</p>
        <input type="password" id="password"/>
        <p id="error-message"></p>
        <button type="submit" id="loginUser-submit" class="btn">Login</button>
    </form>
</div>
<script src="/static/scripts/common.js" type="application/javascript"></script>
<script src="/static/scripts/loginUser.js" type="application/javascript"></script>
</body>
</html>