<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mail Delivery Robot - Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="/static/images/create2.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
<body>
<div class="top-menu">
    <div class="spacer">
    </div>
    <div class="button-container">
        <a href="/registerUser"><button>Register</button></a>
        <a href="/"><button>Home</button></a>
    </div>
</div>
<div class="container">
    <h1>Carleton Mail Delivery Robot</h1>
    <div class="container, login-box">
        <h2>Login</h2>
        <form id="loginUser-form" th:action="@{/api/v1/loginUser}" method="post">
            <p>Username:</p>
            <label for="username"></label><input type="text" id="username" />
            <p>Password:</p>
            <label for="password"></label><input type="password" id="password"/>
            <p id="error-message"></p>
            <div class="container">
                <button type="submit" id="loginUser-submit" class="btn">Login</button>
            </div>
        </form>
    </div>
</div>
<script src="/static/scripts/common.js" type="application/javascript"></script>
<script src="/static/scripts/loginUser.js" type="application/javascript"></script>
</body>
</html>