<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mail Delivery Robot - Remove User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="/static/images/create2.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="top-menu">
        <div class="spacer">
            <p th:if="${username != null}" >Logged in as <span th:text="${username}"></span></p> 
        </div>
        <div class="button-container">
            <a href="/"><button>Home</button></a>
        </div>
    </div>
<div class="container">
    <h1>Carleton Mail Delivery Robot</h1>
    <div class="login-box">
        <h2>Remove a User</h2>
        <form id="removeUser-form" th:action="@{/api/v1/createUser}" method="post">
            <p>Username:</p>
            <label for="username"></label><input type="text" id="username"/>
            <p id="error-message"></p>
            <button type="submit" id="removeUser-submit"  class="btn">Remove User</button>
        </form>
    </div>
</div>
<script src="/static/scripts/common.js" type="application/javascript"></script>
<script src="/static/scripts/removeUser.js" type="application/javascript"></script>
<script src="/static/scripts/logoutFunc.js"></script>
</body>
</html>